<div>
  <img src="{{randomBeer.image_url}}"/>
  <h2>{{randomBeer.name}}</h2>
  <h3>{{randomBeer.tagline}}</h3>
  <article>{{randomBeer.description}}</article>
  <h3>Food Pairing</h3>
  <ul>
    {{#each randomBeer.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <article><b>Bewers Tips:</b> {{randomBeer.brewers_tips}}</article>
</div>